USER_NAME=
USER_GROUP=
USER_UID=1000
USER_GID=1000
HARDWARE=x86_64
DOCKER_HUB_USER=
GPU_ENABLED=false
IMAGE_NAME=osrf_ros_kinetic
WS_PATH=

# ROS_DISTRO=kinetic
# ROS_TAG=desktop-full
# UBUNTU_CODENAME=xenial
